<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<h2>Search in TMDb</h2>

<% flash.each do |key, value| %>
  <div>
    <%= value %>
  </div>
<% end %>

<form action="/search" method="get">
  <label for="movie_title_field">Movie Name</label>
  <input type="text" name="movie_title" id="movie_title_field" value="<%= params[:movie_title] %>">

  <label for="movie_year_field">Release Year</label>
  <input type="text" name="movie_year" id="movie_year_field" value="<%= params[:movie_year] %>">

  <input type="radio" name="language" id="language_en" value="en">
  <label for="language_en">English Only</label>

  <input type="radio" name="language" id="language_all" value="all" checked>
  <label for="language_all">All Languages</label>

  <button type="submit" id="tmdb_submit">Search</button>
</form>